<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="UniDB" connectionString="server=DESKTOP-6E924A9\SQLEXPRESS;integrated security=SSPI;database=Uni3"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>